<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- barra de pesquisa -->
  <div class="search-container">
    <ion-searchbar 
      placeholder="Buscar livros, autores..."
      debounce="300"
      (ionInput)="search($event.detail.value)"
      class="custom-searchbar">
    </ion-searchbar>
  </div>

@if (searchResults.length > 0) {
  <div class="search-results">

    <ion-list>

      @for (book of searchResults; track book.id ?? book.volumeInfo.title ?? $index) {
        <ion-item>

          @if (book.volumeInfo.imageLinks?.thumbnail) {
            <ion-thumbnail slot="start">
              <img [src]="book.volumeInfo.imageLinks.thumbnail">
            </ion-thumbnail>
          }

          <ion-label>
            <h2>{{ book.volumeInfo.title }}</h2>
            <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
          </ion-label>

        </ion-item>
      }

    </ion-list>

  </div>
}



  <!-- menu de categorias -->
   <div class="category-menu">
      <ion-segment scrollable="true" value="favoritos" class="category-segment">
        <ion-segment-button value="favoritos">
          <ion-icon name="heart-outline"></ion-icon>
          <ion-label>Favoritos</ion-label>
        </ion-segment-button>
        <ion-segment-button value="historico">
          <ion-icon name="time"></ion-icon>
          <ion-label>Histórico</ion-label>
        </ion-segment-button>
        <ion-segment-button value="seguindo">
          <ion-icon name="person"></ion-icon>
          <ion-label>Seguindo</ion-label>
        </ion-segment-button>
        <ion-segment-button value="explorar">
          <ion-icon name="compass"></ion-icon>
          <ion-label>Explorar</ion-label>
        </ion-segment-button>
      </ion-segment>
   </div>

  <!-- TERROR -->
  <div class="book-section">
    <div class="section-header">
      <h2>Terror</h2>
      <ion-icon name="chevron-forward"></ion-icon>
    </div>

    <div class="book-scroll">
      <div class="book-card" *ngFor="let book of terrorBooks" (click)="openBook(book)">
        <img [src]="getBestImage(book)" [alt]="book.volumeInfo?.title" />
        <h4>{{ book.volumeInfo?.title }}</h4>
        <p>{{ book.volumeInfo?.authors?.[0] }}</p>
      </div>
    </div>
  </div>

  <!-- AVENTURA -->
<div class="book-section">
  <div class="section-header">
    <h2>Aventura</h2>
    <ion-icon name="chevron-forward"></ion-icon>
  </div>

  <div class="book-scroll">
    <div class="book-card" *ngFor="let book of aventuraBooks" (click)="openBook(book)">
      <img [src]="getBestImage(book)" [alt]="book.volumeInfo?.title" />
      <h4>{{ book.volumeInfo?.title }}</h4>
      <p>{{ book.volumeInfo?.authors?.[0] }}</p>
    </div>
  </div>
</div>

<!-- ROMANCE -->
<div class="book-section">
  <div class="section-header">
    <h2>Romance</h2>
    <ion-icon name="chevron-forward"></ion-icon>
  </div>

  <div class="book-scroll">
    <div class="book-card" *ngFor="let book of romanceBooks" (click)="openBook(book)">
      <img [src]="getBestImage(book)" [alt]="book.volumeInfo?.title" />
      <h4>{{ book.volumeInfo?.title }}</h4>
      <p>{{ book.volumeInfo?.authors?.[0] }}</p>
    </div>
  </div>
</div>

<!-- FANTASIA -->
<div class="book-section">
  <div class="section-header">
    <h2>Fantasia</h2>
    <ion-icon name="chevron-forward"></ion-icon>
  </div>

  <div class="book-scroll">
    <div class="book-card" *ngFor="let book of fantasiaBooks" (click)="openBook(book)">
      <img [src]="getBestImage(book)" [alt]="book.volumeInfo?.title" />
      <h4>{{ book.volumeInfo?.title }}</h4>
      <p>{{ book.volumeInfo?.authors?.[0] }}</p>
    </div>
  </div>
</div>

<!-- FICÇÃO -->
<div class="book-section">
  <div class="section-header">
    <h2>Ficção</h2>
    <ion-icon name="chevron-forward"></ion-icon>
  </div>

  <div class="book-scroll">
    <div class="book-card" *ngFor="let book of ficcaoBooks" (click)="openBook(book)">
      <img [src]="getBestImage(book)" [alt]="book.volumeInfo?.title" />
      <h4>{{ book.volumeInfo?.title }}</h4>
      <p>{{ book.volumeInfo?.authors?.[0] }}</p>
    </div>
  </div>
</div>
</ion-content>