<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Recuperar Senha</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding ion-text-center">
  
  <ion-card class="forgot-password-card">
    <ion-card-header>
      <ion-card-title>Esqueceu sua senha?</ion-card-title>
      <ion-card-subtitle>
        Informe seu **número de telefone** para receber o código de recuperação via SMS.
      </ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="onSubmit()">
        
        <ion-item>
          <ion-label position="floating">Telefone</ion-label>
          <ion-input 
            type="tel" [(ngModel)]="forgotPasswordForm.phoneNumber" name="phoneNumber"
            required>
          </ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" class="ion-margin-top">
          Receber Código por SMS
        </ion-button>
      </form>

      <p class="ion-margin-top">
        <a [routerLink]="['/login']">Lembrei minha senha! Voltar para o Login</a>
      </p>

    </ion-card-content>
  </ion-card>
</ion-content>