<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">
  
  <ion-refresher slot="fixed" (ionRefresh)="handleRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
    @if (userData) {
    <div class="profile-header">
      <img class="avatar" 
          [src]="userData.photoURL"
          alt = "Foto de perfil">

      <div class="profile-info">
        <h2>{{ userData.fullName }}</h2>
        <p>@{{ userData.username }}</p>

        <ion-button size="small" color="dark" fill="outline" (click)="editarPerfil()">
          Editar perfil
        </ion-button>
      </div>
    </div>
    } @else {
    <div>
      <ion-skeleton-text animated style="width: 100%; height: 80px;"></ion-skeleton-text>
    </div>
    }

    <!-- ÁREA DE LEITURA -->
<div class="status-sections">
  <h3>Livros por status</h3>

  @for (status of statusKeys; track status) {
    <div class="book-section">
      <div class="section-header">
        <ion-button color="dark" fill="clear" (click)="toggleStatus(status)">
          {{ status }} ({{ booksByStatus[status].length }})
        
        <ion-icon [name]="statusVisibility[status] ? 'chevron-down' : 'chevron-forward'"></ion-icon>
      </ion-button>
      </div>

      @if (statusVisibility[status]) {
        <div class="book-scroll">
          <div class="book-card" *ngFor="let post of booksByStatus[status]" (click)="openBookOptions(post)">
            <img [src]="post.book.image" [alt]="post.book.title" />
            <h4>{{ post.book.title }}</h4>
            <p>{{ post.book.author }}</p>
          </div>
        </div>
      }
    </div>
  }
</div>

<!-- Lista de desejo separada -->
      <div class="book-section">
        <div class="section-header">
          <h2>Minha biblioteca ({{evaluatedBooks.length}})</h2>
          <ion-icon name="chevron-forward"></ion-icon>
        </div>

        <div class="book-scroll">
          <div class="book-card" *ngFor="let book of evaluatedBooks">
            <img [src]="book.image" [alt]="book.title" />
            <h4>{{ book.title }}</h4>
            <p>{{ book.author }}</p>
            <p>⭐ {{ book.rating }}</p>
          </div>
        </div>
     </div>
</ion-content>