<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Discover
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
    <div class="search-container">
    <ion-searchbar 
      placeholder="Buscar livros, autores..."
      debounce="300"
      (ionInput)="search($event.detail.value)"
      class="custom-searchbar">
    </ion-searchbar>
  </div>

@if (searchResults.length > 0) {
  <div class="covers-grid">

    <ion-list>

      @for (book of searchResults; track book.id ?? book.volumeInfo.title ?? $index) {
        <ion-item>

          @if (book.volumeInfo.imageLinks?.thumbnail) {
            <div class="cover-card" slot="start">
              <img [src]="getBestImage(book)">
            </div>
          }

          <ion-label>
            <h2>{{ book.volumeInfo.title }}</h2>
            <p>{{ book.volumeInfo.authors?.join(', ') }}</p>
          </ion-label>

        </ion-item>
      }

    </ion-list>

  </div>
}

</ion-content>
